@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;600&display=swap');

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::placeholder {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ant-checkbox-inner {
  border-radius: 2px;
}

h1 {
  font-size: 32px;
  font-weight: 600;
}

// Text
// Size 12, Weight 400(regular), line-height auto
.text-rg-12-auto {
  font-size: 12px;
  font-weight: 400;
}

// Size 12, Weight 500(medium), line-height 20
.text-md-12-20 {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

// Size 32, Weight 600(semibold), line-height 30
.text-sb-32-30 {
  font-size: 32px;
  font-weight: 600;
  line-height: 30px;
}

// Size 14, Weight 500(medium), line-height 16
.text-md-14-16 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

// Size 14, Weight 500(medium), line-height 20
.text-md-14-20 {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

// Size 14, Weight 600(semibold), line-height 20
.text-sb-14-20 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

// Size 14, Weight 400(regular), line-height 24
.text-rg-14-24 {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

// Size 14, Weight 500(medium), line-height 24
.text-md-14-24 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

// Size 14, Weight 600(semibold), line-height 24
.text-sb-14-24 {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
}

// Weight 500, size 22, line-height 20
.text-md-22-20 {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
}

// Weight 400(regular), size 14, line-height 20
.text-r-14-20 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

// Weight 400(regular), size 12, line-height 18
.text-r-12-18 {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

// Size 22, Weight 600
.text-sb-22 {
  font-weight: 600;
  font-size: 22px;
}

// size 16, weight(medium), line-height 30
.text-md-16-30 {
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

// size 16, weight(semibold), line-height 30
.text-sb-16-30 {
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
}

// size 24, weight(semibold), line-height 30
.text-sb-24-30 {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

// size 20, weight(semibold), line-height 20
.text-sb-20-20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
}

// size 16, regular 400, line-height 24
.text-r-16-24 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

// size 14, weight 500(medium), line-height 16
.text-md-14-16 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
// size 12, weight 500(medium), line-height 16
.text-md-12-16 {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
// weight 500, size 30, line-height 35
.text-md-30-35{
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
}
// weight 500, size 24, line-height 28
.text-md-24-28{
  font-weight: 500;
font-size: 24px;
line-height: 28px;
}
// size 12, weight 600(), line-height 16
.text-sb-12-16 {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
// bold-text
.bold-text{
  font-weight: bold;
}
// size 12, weight 500, line-height 24
.text-md-12-24{
  font-weight: 500;
font-size: 12px;
line-height: 24px;
}
